@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: rgb(119, 119, 119);
    min-height: 100%vh;
}
#Titulo{
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    color: white;
}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
}
footer{
    color: white;
    text-align: center;
    padding: 10px;
}